body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #00c853, #64dd17);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.container {
    background: white;
    color: #333;
    padding: 40px 25px;
    border-radius: 20px;
    width: 90%;
    /* max-width: 400px; */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h1 span {
    color: #00c853;
    font-weight: bold;
    font-size: 28px;
}

button {
    margin-top: 25px;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: #00c853;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    animation: pulse 0.5s infinite;
    width: 100%;
}

/* Hover effect */
button:hover {
    background: #009624;
    transform: scale(1.08);
}

/* Click effect */
button:active {
    transform: scale(0.95);
}

/* Button Pulse Animation */
@keyframes pulse {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-9px); }
    50%  { transform: translateY(-8px); }
    70%  { transform: translateY(-4px); }
    100% { transform: translateY(0); }
}

/* Page Fade Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}